$message-margin: 16px;
$message-padding: $message-margin;

@use 'devices';

.message-feed-container {
  width: 100%;
  flex-basis: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .message-feed {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    margin: 0 24px;

    @include devices.on-small-devices() {
      margin: 0 0;
    }

    .message-entry {
      color: #434b54;
      background-color: #ffffff;
      border-color: #d4dade;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      align-self: flex-start;
      margin-top: $message-margin;
      margin-bottom: $message-margin;
      padding: $message-padding;
      min-width: 120px;
      max-width: 70%;

      @include devices.on-small-devices() {
        margin-left: 8px;
        margin-right: 8px;
      }

      &.sending {
        opacity: 0.8;
      }
      &.own-message {
        background-color: #fcf6c5;
        align-self: flex-end;
      }
      .message-details {
        color: #b3bcc3;
        font-size: 14px;
      }
      .message-body {
        margin: 5px 0;
      }
      p {
        margin: 0;
      }
    }
  }
}
