$message-margin: 16px;
$message-padding: $message-margin;

.message-feed-container {
  width: 100%;
  flex-basis: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .message-feed {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    margin: 0 24px;

    .message-entry {
      color: #434b54;
      background-color: #ffffff;
      border-color: #d4dade;
      border-radius: 5px;
      border-width: 1px;
      border-style: solid;
      align-self: flex-start;
      margin-top: $message-margin;
      margin-bottom: $message-margin;
      padding: $message-padding;
      min-width: 120px;
      max-width: 70%;
    }
  }
}
